body{
  margin:0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

#bg-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url("img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(10px);
    position: fixed;
    top:0;
    left:0;
}

.app{
  height: 100vh;
  width: 500px;
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  filter: none;
  position: absolute;
  margin-left: 35%;
}

#music-player{
  height: 80%;
  filter: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: -50px; 
}

#music-player #cover-art{
  border-radius:50%;
  height:412px;
  width: 412px;
  margin-left: 18px;
  animation: none;
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#music-player svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
  overflow: visible;
}

#indicator{
  margin-top: -90px;
  margin-left: 450px;
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  cursor: pointer;
}

#indicator span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: inline-block; */
  box-sizing: border-box;
  border: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  animation: animate 1s linear infinite;
}

#indicator span:nth-child(2){
  top: -20px;
  left: -20px;
}

#indicator span:nth-child(1){
  top: -10px;
  left: -10px;
}

@keyframes animate{
  0%{
    border-color: #fff;
  }
  100%{
    border-color: #222;
  }
}

.track-list-container{
  visibility: hidden;
  width:450px;
  height:200px;
  background-image: linear-gradient(#C0C0C0,#17A5F7);
  position:relative;
  border-radius: 18px;
  overflow: scroll;
  overflow-x: hidden;
  display: inline-block;
}

#audio-controls{
  height: auto;
  width: 90%;
  margin-top: 2%;
  margin-left: 4%;;
  position: relative;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  vertical-align: center;
}

.slider{
  margin:0;
  width: 35%;
}

button{
  margin-top: 0;
  padding-right: 5%;
  padding-left: 5%;
}

.track-info{
  width: 100%;
  height: 50px;
  display:flex;
  padding: 10px 5px 3px 10px;
}

.track-list-container::-webkit-scrollbar{
  width:0px;
  background: transparent;
}

.track-img{
  width: 50px;
  height: 50px;
}

.track-img img{
  width: 40px;
  height: 40px;
  margin: 2px 5px;
  padding: 1px;
}

.line-break{
  border-bottom:1px solid white;
  width: 40%;
  margin-left: 15px;
  opacity: 0.2;
}

.track-title{
  width: 90%;
  padding: 0 5px;
  height: 50px;
  text-align: left;
}

.track-title h6{
  margin: 7px 0 0 0;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
  line-height:15px;
}

.track-title p{
  font-size: 10px;
  letter-spacing: 0.5px;
  cursor: pointer;
  line-height:15px;
  margin: 0;
  padding: 0;
}

.track-title:hover{
  color: white;
}

